path {
	stroke: #000;
	stroke-width: 0.5px;
}

path.chord {
	stroke-width: 0.1px;
	fill-opacity: 0.8;
}

.entity-group text {
	font-family: "Source Sans Pro", "sans serif";
	font-size: 14px;
}

.entity-group path {
	cursor: pointer;
}
