{% block header %}{{ title }}{% endblock %}

{% block style %}
.testimonial-avatar {
	background-size: cover;
	background-position: center center;
}
.app-icon {
	border-radius: 5px;
	width: 1.1em;
	height: 1.1em;
	display: inline-block;
	margin-top: -0.2em;
}
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 15px;">
	<div class="col-md-12">
		<h3 style="margin: 0px"><img src="{{ doc.icon }}" class="app-icon"> {{ doc.headline or "" }}</h3>
		<br>
		<div class="pull-right">
			{% if doc.source_link -%}
				<a href="{{ doc.source_link }}" target="_blank" class="btn btn-default">
					<i class="icon icon-github"></i> Github</a>
			{%- endif %}
			{% if doc.demo_link -%}
				<a href="{{ doc.demo_link }}" target="_blank" class="btn btn-default">
					<i class="icon icon-play"></i> Demo</a>
			{%- endif %}
			{% if doc.cloud_link -%}
				<a href="{{ doc.cloud_link }}" target="_blank" class="btn btn-default">
					<i class="icon icon-cloud"></i> Start</a>
			{%- endif %}
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<p class="text-muted small">Publisher: {{ doc.publisher }}</p>

{% include "templates/includes/slideshow.html" %}

<p>{{ doc.description }}</p>

<!-- testimonials -->
{% if doc.get({"parentfield": "app_testimonials"}) %}
<hr>
<h3>Testimonials</h3>
{% for testimonial in doc.get({"parentfield": "app_testimonials"}) %}
<div class="media">
	<span class="pull-left">
		<div class="media-object avatar-large testimonial-avatar" style="background-image: url({{ testimonial.author_image }});"></div>
	</span>
	<div class="media-body">
		{{ testimonial.testimonial }}
		<p class="text-right text-muted" style="margin-top: 7px;"><em>{{ testimonial.author }}</em></p>
	</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
