body {
	color: #444;
}

.page-header {
	background-color: #347;
	background-image: url(/assets/frappe/images/grid-pattern.png);
	background-repeat: repeat;
}

article img {
	padding: 7px;
	border: 1px solid #eee;
}

blockquote {
	font-size: 100%;
	font-style: italic;
	border-left: 4px solid #FF9F04;
	background-color: #fff8f0;
}



.web-footer {
	border-top: 0px;
}

@media (max-width: 767px) {
	.navbar {
		padding: 0px;
	}
	.navbar-header {
		margin: 10px auto;
	}
}

.navbar-main .navbar-brand img {
	margin-top: -20px;
	margin-bottom: -15px;
}

.media {
	margin: 30px auto;
}

.media-object {
	margin-right: 15px;
}

.frappe-coverage img {
	width: 160px;
}

.sponsor-icon-stub {
    font-size: 120px;
    color: #aaa;
    width: 160px;
    height: 160px;
    border-radius: 10%;
    border: 1px solid #aaa;
    margin: 30px;
    vertical-align: middle;
}

.sponsor-icon-stub i {
    vertical-align: middle;
    padding: 20px 26px;
    display: inherit;
}

.sponsor-icon-stub img {
	border: 0px;
}

.buy-table .btn {
	margin-bottom: 5px;
}

.app-icon {
	border-radius: 5px;
	width: 4em;
}

.featured-app-icon {
	width: 1.2em;
}

