{% block title %}Applications{% endblock %}
{% block header %}Applications{% endblock %}

{% block style %}
.app-icon {
	border-radius: 5px; 
	width: 4em;
}

.featured-app-icon {
	width: 1.2em;
}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<img src="assets/frappe_io/images/desktop-1.png" class="img-responsive" />
	</div>
	<div class="col-sm-6">
		<a href="apps/erpnext" class="no-decoration"><h3 style="margin-bottom: 5px;">
			<img src="assets/frappe_io/images/erpnext.png" class="app-icon featured-app-icon">
			ERPNext</h3></a>
		
		<p style="margin-top: 5px;">ERPNext is an Open Source web based ERP system built grounds up 
			for the web. It features all
			basic modules such as Accounting, Inventory Mangament, CRM, Sales, Purchase, Projects,
			Human Resources and also tons of other feature to enable collaboration within your team.
			Try it out and we guarantee you will never look back.</p>
	</div>
</div>
<hr>
<h3 style="margin-bottom: 30px;">All Applications</h3>
{% for app in apps %}
<div class="media">
	<a class="pull-left" 
		href="{{ frappe.get_website_sitemap('Frappe App', app.name) }}">
		<img class="media-object app-icon" src="{{ app.icon }}">
	</a>
	<div class="media-body">
		<a href="{{ frappe.get_website_sitemap('Frappe App', app.name) }}">
		<h4 class="media-heading">{{ app.application_name }}</h4>
	</a>
	<p>{{ app.introduction }}</p>
	<p class="text-muted">Publisher: {{ app.publisher }}</p>
	</div>
</div>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}