{% block title %}Applications{% endblock %}
{% block header %}Applications{% endblock %}

{% block style %}
.app-icon {
	border-radius: 5px;
	width: 4em;
}

.featured-app-icon {
	width: 1.2em;
}
{% endblock %}

{% block content %}
{% for app in apps %}
<div class="media">
	<a class="pull-left"
		href="{{ frappe.get_website_route('Frappe App', app.name) }}">
		<img class="media-object app-icon" src="{{ app.icon }}">
	</a>
	<div class="media-body">
		<a href="{{ frappe.get_website_route('Frappe App', app.name) }}">
		<h4 class="media-heading">{{ app.application_name }}</h4>
	</a>
	<p>{{ app.introduction }}</p>
	<p class="text-muted">Publisher: {{ app.publisher }}</p>
	</div>
</div>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}
