{% block title %}Applications{% endblock %}
{% block header %}Applications{% endblock %}

{% block style %}{% include "public/css/app_icon.css" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<img src="assets/frappe_io/images/desktop-1.png" class="img-responsive" />
	</div>
	<div class="col-sm-6">
		<a href="apps/erpnext" class="no-decoration"><h3 style="margin-bottom: 5px;">
			<span class="app-icon app-icon-img app-icon-small"><img src="assets/frappe_io/images/erpnext.png"></span> ERPNext</h3></a>
		<span class="label label-warning">Featured</span>
		<p style="margin-top: 5px;">ERPNext is an Open Source web based ERP system built grounds up 
			for the web. It features all
			basic modules such as Accounting, Inventory Mangament, CRM, Sales, Purchase, Projects,
			Human Resources and also tons of other feature to enable collaboration within your team.
			Try it out and we guarantee you will never look back.</p>
	</div>
</div>
<hr>
<h3>All Applications</h3>
{% for app in apps %}
<div class="row">
	<div class="col-xs-2">
		<span class="app-icon app-icon-img app-icon-small"><img src="{{ app.icon }}"></span>
	</div>
	<div class="col-xs-10">
		<a href="{{ frappe.get_website_sitemap('Frappe App', app.name) }}"><h4>{{ app.application_name }}</h4></a>
		<p>{{ app.description }}</p>
		<p class="text-muted">Publisher: {{ app.publisher }}</p>
	</div>
</div>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}