{% block header %}
<div class="overlay">
	<h1>Open Source Web Applications</h1>
	<h3>Framework + Platform + Apps</h3>
</div>
{% endblock %}

{% block content %}
<!-- no-sidebar -->
<p class="lead">Frappe is a web application platform that is used to build ERPNext, the fast-growing Open Source ERP.</p>
<br>
<div class="row home-panel">
	<div class="col-sm-4">
		<h4><i class="icon-check"></i> ERPNext</h4>
		<p>ERPNext is a modern, Open Source ERP that is built for the web. ERPNext has financial accounting, inventory management, CRM, selling and purchasing management, human resource management and a lot more.
			<br><br><a href="https://frappe.io/apps/erpnext/user-guide"><i class="icon-chevron-right"></i> Read the user guide for full details</a></p>
	</div>
	<div class="col-sm-4">
		<h4><i class="icon-globe"></i> Used in 60+ Countries</h4>
		<p>Since 2010, ERPNext has been used and deployed in more than 60 countries. The goal of the product is to build a superior experience for the customer and that has been our marketing strategy. You can talk to our users on the customer forum or <a href="https://frappe.io/apps/erpnext/stories">read case-studies</a>.
			<br><br><a href="https://frappe.io/getting-help"><i class="icon-chevron-right"></i> Get Help on Forums</a></p>
	</div>
	<div class="col-sm-4">
		<h4><i class="icon-cog"></i> Developers</h4>
		<p>Frappe is an extensible platform and developers can create their own apps to extend ERPNext. These apps can be customizations for a particular client or a set of industry standard features. Learn more about how to create applications for ERPNext.
			<br><br><a href="https://frappe.io/apps/frappe-framework"><i class="icon-chevron-right"></i> Learn more about Frappe</a></p>
	</div>
</div>
<br>
<div class="alert alert-warning"><b>Loved by Users:</b> "I have been following ERPNext for more than an year now and truly amazed by your team's perseverance on delivering a high quality open source ERP product". <a href="https://frappe.io/apps/erpnext/testimonials">Read more testimonials</a></div>


{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}

{% block style %}
<style>
.page-header {
	padding: 80px 0px;
	text-align: center;
}
</style>
{% endblock %}
