{% block header %}
<div class="overlay">
	<h1 style="color: #ffab45">Open Source Web Applications</h1>
	<h3>Framework + Apps = Frappe</h3>
</div>
{% endblock %}

{% block content %}
<!-- no-sidebar -->
<p class="lead text-center" style="margin: auto; max-width: 540px">Frappe is a web application platform that is used to build ERPNext, the fast-growing Open Source ERP.</p>
<br>
<div class="text-center">
	<iframe src="https://docs.google.com/presentation/d/1PQ3yCwhqhGZB7ledgJgnauvQhSPfqXD9Q71gNWee4Fo/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="margin: auto"></iframe>
</div>
<br><br>
<p class="text-center">
	<a class="btn btn-success" href="/apps/frappe-framework/developers/guide">Learn How To Build Apps and Extenstions for ERPNext</a>
</p>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}

{% block style %}
<style>
.page-header {
	padding: 80px 0px;
	text-align: center;
}
</style>
{% endblock %}
